form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info h1 {
  font-size: 1.6rem;
  color: #007bff;
}

.card-text {
  margin-bottom: 0.1rem; 
}
