.container {
  max-width: 945px;
}

form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h1 {
  font-size: 1.5rem;
  color: #007bff;
}

#userImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.card-text {
  margin-bottom: 0.1rem; 
}

button {
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}